{% extends 'theme/base.html' %}
{% block subheader %}Student details{% endblock %}
{% block pagecontent %}

    <div class="row">
        <div class="col-sm-12">
            <h2>Details on student {{ student.id }}</h2> 
            <table class="table">
                <thead>
                    <tr>
                        <th>Name</th>
                        <th>Email</th>
                        <th>Study</th>
                        <th>Number of passed exams</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>{{ student.name }}</td>
                        <td>{{ student.email }}</td>
                        <td>{{ student.study }}</td>
                        <td id="passed_exams_cell">{{ student.passed_exams }}</td>
                    </tr>
                </tbody>
            </table>

            <a id="increase_passed_exams_button" class="btn btn-default" href="#" role="button">
                <span class="glyphicon glyphicon-plus" aria-hidden="true"></span> 
                Increase number of exams passed
            </a>
        </div>
    </div>

    {% if user.is_authenticated %}
    <div class="row">
        <div class="col-sm-12">
            <h3>Notater om {{ student.name }}</h3>
            
            <table class="table">
                {% for note in notes %}
                <tr>
                    <td>{{ note.note }}</td>
                    <td>{{ note.created_by }}</td>
                    <td id="id-points-for-note-{{ note.id }}">{{ note.points }}</td>
                    <td>
                        <a href="" class="add-points-link" data-noteid="{{ note.id }}">
                            +points
                        </a>
                    </td>
                <tr>
                {% endfor %}
            </table>

        </div>
    </div>

    <div class="row" style="margin-bottom: 500px">
        <div class="col-sm-12">
            <h3>Legg til nytt notat</h3>
            <form class="form-horizontal" method="POST">
                {% csrf_token %}
                <div class="form-group">
                    <div class="col-sm-12">
                        <textarea class="form-control" rows="3" name="new_note"></textarea>
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-sm-12">
                        <button type="submit" class="btn btn-default">Lagre nytt notat</button>
                    </div>
                </div>

            </form>

        </div>
    </div>
    {% endif %}

    <input type="hidden" id="passed_exams_url" 
        value="/students/{{ student.id }}/increase_passed_exams">
    <input type="hidden" id="add_points_url" 
        value="/students/{{ student.id }}/add_points">

{% endblock %}

















